  xg_params = {
        'objective': 'binary:logistic',
        'eta': 0.2,
        'max_depth': 10,
        'eval_metric': 'logloss',
        'silent': 1,
        'nthread': 6,
        'gamma': 0.8,
        'min_child_weight': 4,
        'colsample_bytree': 0.7,
        'colsample_bylevel': 0.8
    }
